.bloc_carousel {
    background: #044691;
    padding-bottom: 105px;
}

.bg-img1 {
    background-image: url("../images/globe asia.png");
    background-size: 800px;
    background-repeat: no-repeat;
}

.bg-img2 {
    background-image: url("../images/Stationery and physics book for education.png");
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: right;
}

.carousel_slide {
    width: 80%;
    margin: 0 auto;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    background: white;
    margin-top: 1px;
}

.bloc_carousel {
    padding-top: 55px;
}

.bloc_carousel h1 {
    font-family: 'Noteworthy', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0.15em;

}

.bloc_carousel p {
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.1em;

}

.sign_up_button {
    margin: 0 auto;
    width: 300px;
}

#sign_up_button {
    margin-top: 20px;
    margin-bottom: 50px;
    border: 0;
    border-radius: 10px;
    background-color: #F3CB3D;
    color: black;
    width: 100%;
    height: 44px;
    font-size: 19px;
    font-weight: bold;
}

.button_prev {
    height: 40px;
    width: 40px;
    background-color: #F3CB3D;
}

/*блок кто мы*/
.who_are_we {
    padding-top: 70px;
    max-width: 1115px;
    margin: 0 auto;
}

.who_are_we h2{
    color: #044691;
    text-align: center;
    font-size: 74px;
    font-family: sans-serif, "Times New Roman";
}

.who_are_we p{
    color: #044691;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* блок about us */
.about-us {
    padding-top: 10px;
    padding-bottom: 15px;
}

.card_about_as {
    padding: 20px;
    background-color: #044691;
}

.card_about_as h4 {
    color: white;
}

.card_about_as p {
    color: white;
}

.card_sign_up p {
    font-weight: bold;
    font-size: 18px;
}

.card_sign_up_img {
    transform: skew(4deg, -4deg);
}

.card_sign_up {
    padding: 20px;
    margin-left: 20px;
    margin-top: 5px;
    background-color: #F3CB3D;
    transform: skew(-5deg, 5deg);
}

#card_sign_up_button {
    margin-top: 100px;
    margin-bottom: 50px;
    border: 0;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 100%;
    height: 44px;
    font-size: 19px;
    font-weight: bold;
}

/*блок отзывов*/
.reviews {
    background: #044691;
    margin-top: 90px;
}

.review {
    padding: 60px 40px 100px 20px;
}

.bg-img3 {
    background-image: url("../images/blue star outline.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-top: 60px;
}

.bg-img4 {
    background-image: url("../images/blue star outline.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.bg-img5 {
    background-image: url("../images/blue star outline.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.bg-img6 {
    background-image: url("../images/Group 3718.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.reviews h3 {
    text-align: center;
    color: white;
    font-size: 70px;
}

.p_rev {
    text-align: center;
    color: white;
    font-size: 30px;
}

.div_review {
    height: 500px;
    background-color: white;
    border: 1px solid black;
}

.reviews_p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.div_review h5 {
    margin-top: 12%;
    margin-left: 10px;
    font-size: 50px;
}

/*блок наши партнеры*/
.partners {
    padding-top: 60px;
    background: #EEEEEE;
    padding-bottom: 60px;

}

.partners h3 {
    text-align: center;
    color: #044691;
    font-size: 60px;
    padding-bottom: 50px;
}

