<section id="sign-up" class="auth sign-up" hidden>
    <div class="row flex-column m-auto" id="reg_form">
        <div class="form-inputs text-center m-auto mt-5">
            <div class="form-cover" hidden></div>
            <form class="course-form">
                {% csrf_token %}   
                <h5>Отправить заявку</h5>
                <div><input id="first_name" required type="text" name="first_name" placeholder="Имя"></div>
                <div><input id="last_name" required type="text" name="last_name" placeholder="Фамилия"></div>
                <div><input id="phone" required type="text" name="phone" placeholder="+996-XXX-XXX-XXX"></div>
                <div><input id="email" required type="email" name="email" placeholder="Электронная почта"></div>
                <div>
                    <select id="course" required list="course_list" name="course" placeholder="Курс">
                        {% for course in courses %}
                            <option value="{{course.course_name}}">{{course.course_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="course_sign" type="submit" class="btn btn-warning course_sign">Подтвердить</button>
            </form>
            <div class="confirm" hidden>
                <div id="close">
                    <button class="x-mark"><i class="bi bi-x-lg"></i></button>
                </div>
                    <i class="bi bi-check2-circle"></i>
                <div class="thanks-text">
                    <span class="">Спасибо. <br> Ваша заявка отправлена</span>
                </div>
            </div>
        </div>  
    </div>
</section>
<script>
    mask('#phone')
</script>

