{% if messages %}
    <div style="background-color: #044691; text-align: center;">
        <div style="height: 50px;
                    margin: auto;
                    background-color: #DC143C;
                    color: white;
                    font-size: 20px;
                    line-height:inherit;">
            {% for message in messages %}
                <h3 style="vertical-align: middle;">
                    {{ message }}
                </h3> 
            {% endfor %}
        </div>
    </div>
{% endif %}
<section class="auth turn-on" hidden>
    <div class="row flex-column m-auto" id="reg_form">
        <div class="form-inputs text-center m-auto mt-5">
            <form method="post" enctype="multipart/form-data" action="{% url 'accounts:log_in' %}">
                {% csrf_token %}   
                <h5>Войдите в свой аккаунт</h5>
                <span>Введите новый логин и пароль</span>
                <div><input required type="text" name="username" placeholder="Логин"></div>
                <div><input required type="password" name="password" placeholder="пароль"></div>
                <a href="{% url 'accounts:user_reg' %}"><span>Создать учетную запись</span></a>
                <button id="" type="submit" class="btn btn-warning">Подтвердить</button>
            </form>
        </div>
    </div>
</section>
