{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/student_detail_styles.css' %}">
{% endblock %}
{% block content %}
<div class="detail-page">
    {% include 'partial/search_form.html' %}
    <div id="blocks-container">
        <div id="left-block">
            {% if student.avatar %}
                <img src="{{ student.avatar.url }}" alt="Аватарка">
            {% else %}
                <img src="{% static 'images/no-avatar.png' %}" alt="Аватарка">
            {% endif %}
            <h2>{{ student.first_name }} {{ student.last_name }}</h2>
            <div id="info-block">
                <div id="info-block-content">
                    <div class="info-row">
                        <p class="info-label">Курс:</p>
                        <p class="info-value">{{ selected_course.course_name }}</p>
                    </div>
                    <div class="info-row">
                        <p class="info-label">Репетитор:</p>
                        <p class="info-value">
                            {% for teacher in teachers %}
                                {{ teacher.first_name }} {{ teacher.last_name }}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="info-row">
                        <p class="info-label">Тип занятия:</p>
                        <p class="info-value"></p>
                    </div>
                    <div class="info-row">
                        <p class="info-label">График занятий:</p>
                        <p class="info-value"></p>
                    </div>
                    <div class="info-row">
                        <p class="info-label">Стоимость курса:</p>
                        <p class="info-value"></p>
                    </div>
                    <div class="info-row">
                        <p class="info-label">Оплачено до:</p>
                        <p class="info-value"></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-block">
            <div id="attendance">
                <h3>Посещаемость:</h3>
                <div id="present">
                    <p id="green">Зеленый цвет</p><img src="{% static 'images/Arrow-3.svg' %}" alt=""><p id="attendance-text">Присутствовал</p>
                </div>
                <div id="absent">
                    <p id="red">Красный цвет</p><img src="{% static 'images/Arrow-3.svg' %}" alt=""><p id="attendance-text">Отсутствовал</p>
                </div>
            </div>
            <div id="calendar"></div>
        </div>
    </div>

    <div class="feedback-section">
        <div class="feedback-content">
        <h3>Обратная связь от преподавателя</h3>
            {% if user.role == 'teacher' %}
                <div id="comment-input">
                    <form method="post" id="commentForm" action="{% url 'accounts:add_comment' pk=student.pk %}?course={{ selected_course.id }}">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                    </form>
                </div>
            {% endif %}
        </div>
        <div id="comments-container">
            {% for comment in comments %}
                <div class="comment">
                    <p>{{ comment.content }}</p>
                    <p class="comment-info">Автор: {{ comment.teacher.first_name }} {{ comment.teacher.last_name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
{{ visits_data|json_script:"visitsData" }}
<script id="visitsData" type="application/json">
</script>
<script src="{% static 'js/calendar_script.js' %}"></script>
<div id="student-info" data-student-id="{{ student.id }}" data-course-id="{{ selected_course.id }}"></div>
{% endblock %}