{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/student_list_styles.css' %}">
{% endblock %}
{% block content %}
<div class="page-container">
    {% include 'partial/search_form.html' %}
{% if filter.form.is_bound %}
    {% for student in students %}
        {% if student.avatar %}
            <img src="{{ student.avatar.url }}" alt="Аватарка" id="image">
        {% else %}
            <img src="{% static 'images/no-avatar.png' %}" alt="Аватарка" id="image">
        {% endif %}
        <h2 class="name">{{ student.first_name }} {{ student.last_name }}</h2>
        <p>Выберите курс</p>
        <div class="course-btn-container">
            {% for course in student.enrolled_courses.all %}
                <a href="{% url 'accounts:student_detail' student.pk %}?course={{ course.id }}" class="course-btn">{{ course.course_name }}</a>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
{% endif %}
</div>
{% endblock %}