{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
{% endblock %}
{% block content %}

    {#   блок карточки с курсами#}
    <div class="courses">
        <div class="container">
            <div class="courses_content">
                {{page.text_primary|safe}}
            </div>
            <div class="courses_card">
                <div class="row row-col- mx-5">
                    <div class="row">
                        {% for course in courses %}
                            <div class="card m-4 rounded-4" style="width: 21rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.course_name }}</h5>
                                    {% if course.course_image %}
                                        <img src="{{ course.course_image.url }}" class="card-img-top" alt="...">
                                    {% endif %}
                                    <p>Старт: {{ course.date_start }}</p>
                                    <button type="button"
                                            class="px-5 mb-1 rounded-2 me-2 btn_see_more"
                                            data-bs-toggle="modal" data-bs-target="#{{ course.id }}">Подробнее
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#   блок почему выбирают нас#}
    <div class="bg_courses">
        <div class="container">
            <div class="why_progress">
                <div>
                    {{page.text_secondary|safe}}
                </div>
            </div>
            <div class="why_progress">
                <div class="d-flex justify-content-around flex-wrap">
                    {% for adv in page.adv.all %}
                        {% if forloop.last %}
                            <div class="rounded-4 why_progress_2">
                        {% else %}
                            <div class="rounded-4 why_progress_1"> 
                        {% endif %} 
                            {{adv.text|safe}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    {#    modal#}
    {% for course in courses %}
        <div id="myModal courses_modal_window">
            <div class="modal fade" id="{{ course.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal_content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ course.course_name }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                {% if course.course_image %}
                                    <img src="{{ course.course_image.url }}" class="card-img-top" alt="...">
                                {% endif %}
                            </div>
                            
                            <div class="mb-3" style="word-wrap: break-word">
                                <p>{{ course.description }}</p>
                            </div>
                            <div class="mb-3">
                                <p>Длительность курса: 1 уровень - 3 месяца</p>
                                <p>Периодичность: 3 раза в неделю по 1 час и 20 минут</p>
                                <p>Стоимость: 2600 сом за 1 месяц обучения</p>
                            </div>
                            <button type="submit" class="rounded-2 btn_see_more">Записаться на курс</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}