{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/base_page.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
<header>
    <nav>
        <div class="upper-panel">
            <ul class="navbar-nav ms-auto flex-row justify-content-between flex-wrap">
                <li><a href="#"><i class="bi bi-geo-alt-fill nav-item"></i> 9-й Микрорайон, Суеркулова 10Б</a></li>
                <li><a href="#"><i class="bi bi-phone nav-item"></i> +996 (505) 242 552</a></li>
                <li><a href="#"><i class="bi bi-envelope-fill nav-item"></i> progress.kg@gmail.com</a></li>
            </ul>
        </div>
        <div class="lower-panel container-fluid">
            <div class="navbar-nav ms-auto flex-row justify-content-between flex-wrap">
                <div class="nav-item logo">
                    <a href="{% url 'courses:index' %}">
                        <img class="image-fluid" src="{% static 'images/logo.png' %}" alt="" width="100%">
                    </a>
                </div>
                <a class="nav-item" href="{% url 'courses:about_us' %}">О нас</a>
                <a class="nav-item" href="{% url 'courses:courses' %}">Наши курсы</a>
                <a class="nav-item" href="">Онлайн тестирование</a>
                <a class="nav-item" href="">Видеоуроки</a>
                <a class="nav-item" href="">Поиск учеников</a>
                <div class="sign_in_button">
                    <button class="nav-item" id="sign_in_button" type="button">Войти</button>
                </div>

            </div>
        </div>
    </nav>
</header>
{#    {% include 'accounts/log_in.html' %}#}
{##}
{% block content %}{% endblock %}

<footer>
    <div class="footer row justify-content-between">
        <div class="footer-block f-menu col-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item logo">
                    <a href="">
                        <h5>Главная</h5>
                    </a>
                </li>
                <li class="nav-item"><a href="">О нас</a></li>
                <li class="nav-item"><a href="">Наши курсы</a></li>
                <li class="nav-item"><a href="">Онлайн тестирование</a></li>
                <li class="nav-item"><a href="">Поиск учеников</a></li>
            </ul>
        </div>
        <div class="footer-block f-map col-8 row">
            <div class="nav-item f-logo">
                <a href="{% url 'courses:index' %}">
                    <img class="image-fluid" src="{% static 'images/logo.png' %}" alt="" width="100%">
                </a>
            </div>
            <div class="f-maps">
                <iframe id="gmap_canvas"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13419.032130422971!2d-79.94077173022463!3d32.772154400000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe7a1ae84ff639%3A0xe5c782f71924a526!2s24%20King%20St%2C%20Charleston%2C%20SC%2029401%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1665070628853!5m2!1str!2str"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="f-social fs-5">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-telegram"></i></a>
                <a href=""><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
        <div class="footer-block f-contacts col-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item logo">
                    <a href="">
                        <h5>Контакты</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <h6>Номер телефона:</h6>
                    <a href="">+996 (505) 242 552</a>
                </li>
                <li class="nav-item">
                    <h6>E-mail:</h6>
                    <a href="">progress.kg@gmail.com</a>
                </li>
                <li class="nav-item">
                    <h6>Адрес:</h6>
                    <a href="">9-й Микрорайон, Суеркулова 10Б</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
