html {
    height: 100vh;
}
/*------------------ШАПКА САЙТА-------------------*/
nav li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
hr {
    color: white;
    padding: 0;
    margin: 0;
}
.logo {
    max-width: 200px;
}

.upper-panel, .lower-panel {
    margin: auto;
    background-color: #4484CF;
    color: white;
}
.upper-panel {
    padding: 1% 20% 1% 20%;
}
.lower-panel {
    padding: 1% 5% 1% 5%;
}

.sign_in_button {
    width: 10%;
}
#sign_in_button {
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
    color: black;
    width: 100%;
    height: 30px;
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

/*-----------------ПОДВАЛ САЙТА----------------------*/
.footer {
    padding: 1% 5% 1% 5%;
    margin: auto;
    background-color: #4484CF;
    color: white;
}
.footer-block {
    display: flex;
    align-items: center;
}
.footer h6 {
    margin-bottom: 0;
    margin-top: 10px;
}
.f-contacts ul, .f-logo {
    margin: auto;
}
.f-map iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}
.f-logo {
    width: 250px;
}
.f-social {
    width: 150px;
    margin: 1% auto 1% auto;
}
.f-social a {
    margin: 0 10px 0 10px
}

/*-----------------ФОРМА ВХОДА------------------*/
