html {
    height: 100vh;
}
/*------------------ШАПКА САЙТА-------------------*/
nav li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
hr {
    color: white;
    padding: 0;
    margin: 0;
}
.user {
    border: 2px solid white;
    border-radius:15px;
    color: white;
    width: 100%;
    height: 30px;
    text-align: center;
}
.logo {
    max-width: 200px;
}

.upper-panel, .lower-panel {
    margin: auto;
    background-color: #4484CF;
    color: white;
}
.upper-panel {
    padding: 1% 20% 1% 20%;
}
.lower-panel {
    padding: 1% 5% 1% 5%;
}

.sign_in_button {
    width: 10%;
}
#sign_in_button, #log_out_button {
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
    color: black;
    width: 100%;
    height: 30px;
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

/*-----------------ПОДВАЛ САЙТА----------------------*/
.footer {
    padding: 1% 5% 1% 5%;
    margin: auto;
    background-color: #4484CF;
    color: white;
}
.footer-block {
    display: flex;
    align-items: center;
}
.footer h6 {
    margin-bottom: 0;
    margin-top: 10px;
}
.f-contacts ul, .f-logo {
    margin: auto;
}
.f-map iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}
.f-logo {
    width: 250px;
}
.f-social {
    width: 150px;
    margin: 1% auto 1% auto;
}
.f-social a {
    margin: 0 10px 0 10px
}

/*-----------------ФОРМА ВХОДА------------------*/
.auth {
    position: fixed;
    z-index: 6;
    width: 100%;
    top: 15%;
    right: 0;
    left: 0;
    height: calc(var(--vh, 1vh) * 70);
    margin-left:auto;
    margin-right:auto;
}

.auth h5 {
    padding: 1% 10% 1% 10%;
}
.auth a, span {
    color: gray;
}
.auth .btn, input {
    width: 80%;
    border-radius: 15px;
    margin: 5% auto 10% auto;
}
.auth input {
    text-align: center;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(255, 196, 0, 0.5);
    margin: 2% auto 2% auto;
}
.form-inputs {
    background-color: white;
    border-radius: 15px;
    max-width: 400px;
    
}
@media screen and (max-width: 772px) {
    .form-inputs {
        width: 90%;
    }
}
.back {
    background: rgb(14, 14, 14, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
  }