.search-container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.write-name {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 22px;
    text-align: left;
}

#id_student {
    font-weight: 400;
    font-size: 18px;
    width: 50vw;
    height: 72px;
    max-width: 882px;
    text-transform: uppercase;
    border-radius:15px;
    border: black solid 1px;
    text-indent: 22px;
    line-height: 72px;
    margin: 0;
}

.search-button {
    width: 116px;
    height: 52px;
    position: absolute;
    padding: 10px;
    border-radius:15px;
    top: 38%;
    right: 2%;
    background-color: #FFD700;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}


@media (max-width: 992px) {
    #id_student {
        height: 42px;
        width: 70vw;
    }

    .search-button {
        width: 90px;
        height: 32px;
        top: 44%;
        line-height: 15px;
    }
}

@media (max-width: 480px) {
    #id_student {
        width: 90vw;
    }
}

@media (max-width: 348px) {
    .search-button {
        right: 5%!important;
    }
}

@media (max-width: 312px) {
    .search-button {
        top: 38%;
    }
    .write-name {
        font-size: 16px;
    }
}