{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/tests_view.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="test-view">
        <h1>ОНЛАЙН ТЕСТ</h1>
        <div class="button-container row">
            <div class="button-block col-sm-10 col-lg-3 row justify-content-around">
                <div class="button" onclick="filterTests('')" data-language=""></div>
                <h5 class="button-text col-8">Все предметы</h5>
            </div>
            <div class="button-block col-sm-10 col-lg-3 row justify-content-around">
                <div class="button" onclick="filterTests('KG')" data-language="KG"></div>
                <h5 class="button-text col-8">На кыргызском</h5>
            </div>
            <div class="button-block col-sm-10 col-lg-3 row justify-content-around">
                <div class="button" onclick="filterTests('RU')" data-language="RU"></div>
                <h5 class="button-text col-8">На русском</h5>
            </div>
        </div>

        <h2 class="tests-title">Оплаченные тесты</h2>
        <div class="tests">
            {% for test in paid_tests %}
                <a href="{% url 'online_tests:start_test' test.pk %}" class="test-card-link">
                    <div class="test-card">
                        <p class="test-name">{{ test.test_name }}</p>
                        <p class="test-course">
                            {% for course in test.course.all %}
                                {{ course.course_name }}
                            {% endfor %}
                        </p>
                        <div class="time-questions">
                            {% if test.test_language == 'кыргызский' %}
                                <p>Убакыт: {{ test.countdown_formatted_kg }}</p>
                                <p>Суроолордун саны: {{ test.questions.count }}</p>
                            {% else %}
                                <p>Время: {{ test.countdown_formatted_ru }}</p>
                                <p>Количество заданий: {{ test.questions.count }}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>


        <h2 class="tests-title">Бесплатные тесты</h2>
        <div class="tests">
            {% for test in free_tests %}
                <a href="{% url 'online_tests:start_test' test.pk %}" class="test-card-link">
                    <div class="test-card">
                        <p class="test-name">{{ test.test_name }}</p>
                        <p class="test-course">
                            {% for course in test.course.all %}
                                {{ course.course_name }}
                            {% endfor %}
                        </p>
                        <div class="time-questions">
                            {% if test.test_language == 'кыргызский' %}
                                <p>Убакыт: {{ test.countdown_formatted_kg }}</p>
                                <p>Суроолордун саны: {{ test.questions.count }}</p>
                            {% else %}
                                <p>Время: {{ test.countdown_formatted_ru }}</p>
                                <p>Количество заданий: {{ test.questions.count }}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <h2 class="tests-title">Неоплаченные тесты</h2>
        <div class="tests">
            {% for test in not_paid_tests %}
                <a href="{% url 'online_tests:start_test' test.pk %}" class="test-card-link">
                    <div class="test-card inactive-test">
                        <p class="test-name">{{ test.test_name }}</p>
                        <p class="test-course">
                            {% for course in test.course.all %}
                                {{ course.course_name }}
                            {% endfor %}
                        </p>
                        <div class="time-questions">
                            {% if test.test_language == 'кыргызский' %}
                                <p>Убакыт: {{ test.countdown_formatted_kg }}</p>
                                <p>Суроолордун саны: {{ test.questions.count }}</p>
                            {% else %}
                                <p>Время: {{ test.countdown_formatted_ru }}</p>
                                <p>Количество заданий: {{ test.questions.count }}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
    <script src="{% static 'js/languageButtons.js' %}"></script>
{% endblock %}