{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/test_passing.css' %}">
{% endblock %}
{% block title %}Test Passing{% endblock %}

{% block content %}
    <div class="container text-center mt-5 mb-5">
        <h1>{{ test.test_name }}</h1>
        {% csrf_token %}
        <div id="test-end-container" data-countdown="{{ countdown_seconds }}">
            <button class="btn btn-primary btn1" id="submitButton">Завершить тест</button>
            <span id="countdown"></span>
        </div>
        <div id="test-container" data-test-id="{{ test.id }}"></div>
        <div class="mt-3 mb-3">
            <button type="button" class="btn btn-primary btn1" id="prevButton">Предыдущий</button>
            <button type="button" class="btn btn-primary btn1" id="nextButton">Следующий</button>
        </div>

        <script src="{% static 'js/courseTestPassing.js' %}"></script>
        <script src="{% static 'js/coutdown.js' %}"></script>
    </div>
{% endblock %}