{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/testPassing.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Test Passing{% endblock %}

{% block content %}
    <div class="container">
        <div class="test-text">
            <p>{{ test.test_name }}</p>
            <p>Количество занятий: {{ test.questions.count }}</p>
            <p>Время: {{ minutes }} минут</p>
        </div>
        <div class="time-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" viewBox="0 0 24 24">
                <g>
                    <path fill="currentColor" d="M7 3H17V7.2L12 12L7 7.2V3Z">
                        <animate id="eosIconsHourglass0" fill="freeze" attributeName="opacity" begin="0;eosIconsHourglass1.end" dur="2s" from="1" to="0"></animate>
                    </path>
                    <path fill="currentColor" d="M17 21H7V16.8L12 12L17 16.8V21Z">
                        <animate fill="freeze" attributeName="opacity" begin="0;eosIconsHourglass1.end" dur="2s" from="0" to="1"></animate>
                    </path>
                    <path fill="currentColor" d="M6 2V8H6.01L6 8.01L10 12L6 16L6.01 16.01H6V22H18V16.01H17.99L18 16L14 12L18 8.01L17.99 8H18V2H6ZM16 16.5V20H8V16.5L12 12.5L16 16.5ZM12 11.5L8 7.5V4H16V7.5L12 11.5Z"></path>
                    <animateTransform id="eosIconsHourglass1" attributeName="transform" attributeType="XML" begin="eosIconsHourglass0.end" dur="0.5s" from="0 12 12" to="180 12 12" type="rotate"></animateTransform>
                </g>
            </svg>
            <p>Оставшееся время:</p>
            <div id="test-end-container" data-countdown="{{ countdown_seconds }}">
                <span id="countdown" class="countdown-style"></span>
            </div>
        </div>
        <div class="prev-next-container">
            <div class="prev-btn">
                <button type="button" class="btn1" id="prevButton">
                    <img src="{% static 'images/next.png' %}" alt="">
                </button>
                <p>Назад</p>
            </div>
            <div id="question-container" data-test-id="{{ test.id }}"></div>
            <div class="next-btn">
                <p>Вперед</p>
                <button type="button" class="btn1" id="nextButton">
                    <img src="{% static 'images/Group.png' %}" alt="">
                </button>
            </div>
        </div>
        <div class="answer-form">
            <div class="top-line"></div>
            <p>{{ test.test_name }} - бланк ответов</p>
            <div id="chekboxes-container" data-checkboxes="{{ test_id }}" class="checkboxes"></div>
            <div class="bottom-line"></div>
        </div>
        <div class="time-left-second">
            <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24">
                <g>
                    <path fill="currentColor" d="M7 3H17V7.2L12 12L7 7.2V3Z">
                        <animate id="eosIconsHourglass0" fill="freeze" attributeName="opacity" begin="0;eosIconsHourglass1.end" dur="2s" from="1" to="0"></animate>
                    </path>
                    <path fill="currentColor" d="M17 21H7V16.8L12 12L17 16.8V21Z">
                        <animate fill="freeze" attributeName="opacity" begin="0;eosIconsHourglass1.end" dur="2s" from="0" to="1"></animate>
                    </path>
                    <path fill="currentColor" d="M6 2V8H6.01L6 8.01L10 12L6 16L6.01 16.01H6V22H18V16.01H17.99L18 16L14 12L18 8.01L17.99 8H18V2H6ZM16 16.5V20H8V16.5L12 12.5L16 16.5ZM12 11.5L8 7.5V4H16V7.5L12 11.5Z"></path>
                    <animateTransform id="eosIconsHourglass1" attributeName="transform" attributeType="XML" begin="eosIconsHourglass0.end" dur="0.5s" from="0 12 12" to="180 12 12" type="rotate"></animateTransform>
                </g>
            </svg>
            <p>Оставшееся время:</p>
            <div id="test-end-container" data-countdown="{{ countdown_seconds }}">
                <span id="countdown2"></span>
            </div>
            {% csrf_token %}
            <div id="test-end-container" data-countdown="{{ countdown_seconds }}">
                <button class="btn2" id="submitButton">Закончить тест</button>
            </div>
        </div>
        <script src="{% static 'js/courseTestPassing.js' %}"></script>
        <script src="{% static 'js/coutdown.js' %}"></script>
    </div>
{% endblock %}


{##}
{#    Вопросы:#}
{#        questionContainer: Контейнер для каждого вопроса. Классы: col-md-6.#}
{#        questionContent: Контейнер для содержимого вопроса (текст вопроса или изображение). Классы: card-body.#}
{#        questionTitle: Заголовок вопроса. Классы: card-title.#}
{#        imageElement: Изображение вопроса (если имеется). Классы: card-img-top.#}
{#        answersList: Список ответов на вопрос. Классы: list-group, list-group-horizontal.#}
{#        answerItem: Элемент списка с ответом (текст ответа или изображение). Классы: list-group-item, flex-fill, border-0.#}
{##}
{#    Чекбоксы:#}
{#        answersContainer: Контейнер для ответов на один вопрос. Классы: d-flex, answers.#}
{#        questionNumberSpan: Элемент для отображения порядкового номера вопроса.#}
{#        checkboxContainer: Контейнер для чекбокса ответа. Классы: answer-container, custom-checkbox.#}
{#        checkbox: Чекбокс для выбора ответа. Нет примененных классов.#}
{#        imageElement: Изображение ответа (если имеется). Нет примененных классов.#}
{#        textElement: Текстовый элемент ответа. Нет примененных классов.#}
{##}
{#    Группы контейнеров:#}
{#        groupContainer: Контейнер для группы ответов на несколько вопросов. Классы: group-container.#}