<section class="auth turn-on" hidden>
    <div class="row flex-column m-auto" id="reg_form">
        <div class="form-inputs text-center m-auto mt-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}   
                <h5>Войдите в свой аккаунт</h5>
                <span>Введите новый логин и пароль</span>
                <div>{{form.username}}</div>
                <div class="">{{form.password1}}</div>
                <a href="{% url 'accounts:user_reg' %}"><span>Создать учетную запись</span></a>
                <button type="submit" class="btn btn-warning">Подтвердить</button>
            </form>
        </div>
    </div>
</section>
<script>
    $(document).on('click', ".back", function(e) {
        $('body').css('overflow', 'scroll');
        e.preventDefault();
        $(".turn-on").prop('hidden', 'true')
    });
</script>
<script>
    $(document).on('click', "#sign_in_button", function(e) {
        $('body').css('overflow', 'hidden')
        e.preventDefault();
        $(".turn-on").removeAttr('hidden')
    });
</script>